<div class="container">
  <input class="form-control" id="myInput" type="text" placeholder="Search.." style="margin:10px" [(ngModel)]="value">
  <h6>You may also search for:</h6>
  <div class="container">
    <div class="row row-cols-4" id="sandles">
      <div class="card">
        <div class="card-body">
          #flatshoes<br>
          16kshoes
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          #heels<br>
          5kshoes
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          #redshoes<br>
          6kshoes
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          #sportshoe<br>
          1kshoes
        </div>
      </div>
    </div>
    <div>
      <div class="row row-cols-2">
        <div>
          <h4 align="center">200k</h4>
          <p>Number of people talking about #fashion,#shoes</p>
        </div>
        <div>
          <h4 align="center">20k</h4>
          <p>Number of cofluence influencers talking about #fashion,#shoes</p>
        </div>
      </div>
    </div>
    <div class="row row-cols-2">
      <div align="center">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
          Top posts
        </button>
      </div>
      <div align="center">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
          Latest posts
        </button>
      </div>
    </div>
    <div class="row row-cols-2 images">
      <img class="logo" src="assets/download.jpg" *ngIf="value == heels">
      <img class="logo" src="assets/download (1).jpg" *ngIf="value ==heels">
      <img class="logo" src="assets/download (2).jpg" *ngIf="value ==heels">
      <img class="logo" src="assets/download (3).jpg" *ngIf="value ==flatshoes">
      <img class="logo" src="assets/download (4).jpg" *ngIf="value ==flatshoes">
      <img class="logo" src="assets/download (5).jpg" *ngIf="value ==flatshoes">
      <img class="logo" src="assets/download (6).jpg" *ngIf="value ==redshoes">
      <img class="logo" src="assets/download (7).jpg" *ngIf="value ==redshoes">
      <img class="logo" src="assets/download (8).jpg" *ngIf="value ==sportshoe">
      <img class="logo" src="assets/download (9).jpg" *ngIf="value ==sportshoe">
    </div>

  </div>
</div>